@{
    ViewData["Title"] = "Acerca de";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p><em><strong>Carlos Daniel Soriano Rosa 2018-6756</strong></em></p>


<body style="background-image:url(https://www.xtrafondos.com/wallpapers/ala-de-un-avion-88.jpg);
    background-repeat: no-repeat;
    background-size: auto">
</body>
