@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<br />
<br />
<br />
    <center>
        <h1>  BIENVENIDO....</h1>
    </center>

<body style="background-image:url(https://www.xtrafondos.com/wallpapers/ala-de-un-avion-88.jpg);
       background-repeat: no-repeat;
       background-size: auto">
</body>